html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	
}

.app-wrapper {
	background-color: #1E1B1B;

}

.logo {
  display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	padding: 25px 0;
    width: 200px
}