html,
body,
.app-wrapper {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background-color: #1E1B1B;
	height: 100%;
	width: 100%;
}

.header {
	
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	padding: 25px 0;
	width: 200px;
}

.top-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top-text h5 {
	color: #C8C8C8;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

.top-text h1 {
	background: linear-gradient(45deg, #FF2323 0%, #B2A3A3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #ff7e5f;
	font-weight: 800;
	font-size: 37px;
	margin: 0;
}

.mediator {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mediator-inner {
	background-image: url("./images/mediator.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 300px;
	margin-top: 31px;
}

.mediator-inner h6 {
	font-weight: 700;
	font-size: 16px;
	color: #D6D6D6;
	margin: 0;
}

.mediator-inner h2 {
	font-weight: 800;
	font-size: 26px;
	color: #D6D6D6;
	margin: 0;
}

.mediator-inner p {
	margin-top: 34px;
	font-weight: 700;
	font-size: 16px;
	color: #D6D6D6;
	max-width: 50%;
}

.mediator-top-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 36px;
}

.mediator-bottom-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mediator-bottom-text p {
	margin: 0;
	margin-top: 34px;
}

.button-register {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.button-register--inner {
	background: linear-gradient(0deg, #E84949, #E84949), linear-gradient(199.75deg, #CB0000 -134.7%, #FF8484 155.59%);
	border-radius: 10px;
	padding: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.button-register--inner span {
	margin-right: 10px;
}

.button-register a {
	text-decoration: none;
	color: #6C0000;
	font-weight: 700;
	font-size: 12px;
}

.learning-way{
	background-repeat: no-repeat;
    margin-top: 41px;
}
.learning-way img{
    width: 100%;
}
.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: -120px; 
}

.me img {
    display: block;
    width: 100%;
    height: auto;
}

.me h5 {
    position: absolute;
    top: 20%; 
    left: 40%;
    transform: translate(-50%, -50%);
    color: #D4D4D4;
    font-weight: 800;
    font-size: 20px;
    white-space: nowrap; 
    text-align: center;
}

.box-system{
    margin-top: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contaner{

    width: 90%;
    height: 51px;
    background: #393939;
    border-radius: 9px;
}

.contaner h3{
position: relative;
width: 291px;
height: 20px;
left: 0;
font-weight: 800;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
padding: 16px;
margin:0;
}

.details{
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 6px; /* Расстояние между элементами */
    padding-top: 17px;
}

.box{
    width: 90%; /* Ширина боксов равна 100% ширины родительского контейнера */
    background-color: #606060;
    text-align: left;
    border-radius: 9px;
}

.box p{
    margin: 11px;
    color: #ECECEC;
}

.andr{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    top:-10px;
}
.andr h5{
    position: relative;
    left:-15%;
    top: -80px;
    color: #D4D4D4;
    font-weight: 800;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
}
.andr img{
    width: 70%;
    height: auto;
}
.footer {
	
}